---
import { config } from '../config';
const { seo, pixels } = config;
---
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{seo.title}</title>
  <meta name="description" content={seo.description} />
  <meta property="og:title" content={seo.title} />
  <meta property="og:description" content={seo.description} />
  <meta property="og:image" content={seo.ogImage} />
  <meta property="og:type" content="website" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700;800&display=swap" rel="stylesheet" />

  <!-- Google Tag Manager -->
  {pixels.gtmId && (
    <script define:vars={{ gtmId: pixels.gtmId }}>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer', gtmId);
    </script>
  )}

  <!-- Meta Pixel -->
  {pixels.metaPixelId && (
    <script define:vars={{ pixelId: pixels.metaPixelId }}>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', pixelId);
      fbq('track', 'PageView');
    </script>
  )}

  <!-- TikTok Pixel -->
  {pixels.tiktokPixelId && (
    <script define:vars={{ tiktokId: pixels.tiktokPixelId }}>
      !function (w, d, t) {
        w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};
        ttq.load(tiktokId);
        ttq.page();
      }(window, document, 'ttq');
    </script>
  )}

  <!-- Schema.org Product -->
  <script type="application/ld+json" define:vars={{ config }}>
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": config.product.name,
    "description": config.seo.description,
    "offers": {
      "@type": "Offer",
      "price": config.product.price,
      "priceCurrency": "UAH",
      "availability": "https://schema.org/InStock"
    }
  }
  </script>
</head>
<body class="font-body bg-light text-dark">

  <!-- GTM noscript -->
  {pixels.gtmId && (
    <noscript>
      <iframe src={`https://www.googletagmanager.com/ns.html?id=${pixels.gtmId}`}
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  )}

  <slot />

</body>
</html>
